body{
    background-image: url("https://drive.google.com/uc?export=view&id=1pvYn5vgP5Yj_VH2hOY25YjIxmzeruClo");
    background-size: contain;
    filter: grayscale(100%);
    text-align: center;
}
p{
    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 80px;
}
#container{
    display: grid;
    grid-template-columns: repeat(9,11%);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    box-shadow: black;
}
input{
    height: 70px;
    font-size: large;
    text-align: center;
}